body {
  background: transparent url("https://s3.sonicbids.com/marketing/homepage.jpg") 50% 50% no-repeat;
  background-size: auto;
  color: #fff; }

.loginpage {
  margin-left: 36%; }

.loginpage input {
  width: 44%;
  font-size: 20px;
  border-radius: 7px;
  border: solid 2px #f60;
  text-align: center;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.loginpage button {
  margin-left: 15%;
  margin-top: 1%;
  width: 15%;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f60;
  border: solid 1px #d65600;
  color: white;
  border-radius: 10px;
  font-size: 15px; }

.loginpage button:hover {
  transform: scale(1.1); }

.loginpage h1 {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 50px;
  color: white;
  font-size: 50px;
  letter-spacing: -.05em;
  line-height: 1em;
  margin-top: 0;
  padding: 75px 0 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }

.loginpage h3 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 26px;
  margin: 15px 0;
  color: rgba(255, 255, 255, 0.8); }

.hidden {
  display: none; }

.logo {
  color: #fff;
  font-size: 23px;
  font-family: 'Dosis', sans-serif;
  margin-left: 1005px;
  margin-top: -52px;
  text-shadow: 1px 1px 1px #000; }

.logo:hover {
  background-color: #00bcd4; }

.bandmanager h2 {
  color: #f60;
  font-size: 20px;
  line-height: 1.42857;
  text-align: center;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.bandmanager h4 {
  color: white;
  text-align: center;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.bandmanager select {
  background-color: #f60;
  color: white;
  width: 55%;
  border: solid 1px #d65600;
  font-size: 11px;
  margin-left: 15%; }

.musician h2 {
  color: #f60;
  font-size: 20px;
  line-height: 1.42857;
  text-align: center;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.musician h4 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  text-align: center; }

.musician button {
  margin-left: 45%;
  margin-top: 5%; }

.bandmanager {
  border: solid 2px #fff;
  display: inline-block;
  width: 50%;
  height: 230px;
  background: #000;
  opacity: .7;
  margin-right: 14px; }

.bandmanager:hover {
  border: solid 3px #f60; }

.musician {
  border: solid 2px #fff;
  display: inline-block;
  width: 50%;
  height: 230px;
  background: #000;
  opacity: .7; }

.musician:hover {
  border: solid 3px #f60; }

.musician form {
  font-size: 15px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center; }

.homepagediv {
  width: 70%;
  margin-left: 16%;
  display: inline-flex;
  margin-top: 5%; }

.homepageheader {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 50px;
  color: white;
  font-size: 50px;
  letter-spacing: -.05em;
  line-height: 1em;
  margin-top: 0;
  padding: 75px 0 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }

nav ul {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00bcd4; }

li {
  float: left; }

.logopic {
  width: 3%;
  float: right;
  margin-top: -49px;
  margin-right: 186px; }

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; }

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111; }

.lookingforpage {
  width: 75%;
  text-align: center;
  border: solid 2px #fff;
  height: 400px;
  overflow: scroll;
  margin-left: 13%;
  background-color: black;
  opacity: .7;
  margin-top: 5%; }

.lookingforpage h3 {
  margin-top: -48px;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 50px;
  color: white;
  font-size: 50px;
  letter-spacing: -.05em;
  line-height: 1em;
  padding: 75px 0 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }

.lookingforpage:hover {
  border: solid 2px #f60; }

.lookingforpage ul {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: scroll;
  text-align: center;
  margin-left: 35%;
  margin-bottom: 5%; }

.lookingforpage li:hover {
  color: #00bcd4; }

.lookingforpage li {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px; }

.lookingforpage button:hover {
  background-color: #00bcd4;
  transform: scale(1.1); }

.lookingforpage button {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  border-radius: 10px;
  margin-top: 5px;
  background-color: #fff; }

.availablepage {
  width: 75%;
  text-align: center;
  border: solid 2px #fff;
  height: 400px;
  overflow: scroll;
  margin-left: 13%;
  background-color: black;
  opacity: .7;
  margin-top: 5%; }

.availablepage:hover {
  border: solid 2px #f60; }

.availablepage h3 {
  margin-top: -48px;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 50px;
  color: white;
  font-size: 50px;
  letter-spacing: -.05em;
  line-height: 1em;
  padding: 75px 0 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }

.bookingpage {
  width: 75%;
  text-align: center;
  height: 300px;
  overflow: scroll;
  margin-left: 13%;
  margin-top: 5%; }

.bookingpage h1 {
  margin-top: -48px;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 50px;
  color: white;
  font-size: 50px;
  letter-spacing: -.05em;
  line-height: 1em;
  padding: 75px 0 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }

.finalinfo {
  width: 100%;
  display: block; }

.finalinfo input {
  border-radius: 5px;
  font-size: 15px;
  border: solid 2px #00bcd4; }

.finalinfo button {
  font-size: 20px;
  margin-top: 5px;
  border-radius: 5px;
  background-color: #fff; }

.finalinfo button:hover {
  background-color: #00bcd4;
  transform: scale(1.1); }

.bookingpage h3 {
  margin-top: -48px;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 50px;
  color: white;
  font-size: 20px;
  letter-spacing: -.05em;
  line-height: 1em;
  margin-top: -17px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }

.calendar {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }
